* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container {
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  padding: 25px 30px;
  border-radius: 10px;
}
.container .heading {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  color: white;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.container button {
  background-color: #792999;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

span {
  color: black;
  font-size: 24px;
}

li {
  list-style: none;
}

.userItem {
  max-width: 300px;
  margin-top: 20px;
  padding: 10px;
  border: #71b7e6 solid 1px;
  border-radius: 10px;
  color: whitesmoke;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

.buttons button {
  width: 65px;
}

.errorMessage {
  color: rgb(198, 1, 1);
  margin-bottom: 10px;
  font-size: 14px;
}
